# Django #
.env
venv
requirements.txt
*.log*
*.pot
*.pyc
__pycache__
db.sqlite3
media/*
static/*
tests/files/for_testing_payload/*

# Pytest
.pytest_cache
*__pycache__*
.idea
# Celery #
*celerybeat-schedule*